body{
    font-family:'Segoe UI', 'Tahoma', Geneva, Verdana, sans-serif;
    margin: 0px;
    box-sizing: border-box;
}


.header {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    
}
.header p{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

.header ul{
    list-style-type: none;
    display: flex; 
    gap: 20px;
}
a{
    text-decoration: none;
    color:#E5E7EB;
    font-size: 18px;
}
.container-one,
.container-two,
.container-three,
.container-four{
    height: 350px;
    /*border: 1px solid red;*/
}
.container-one{
    display: flex;
    background-color: #1F2937;
    color: #E5E7EB;
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: center;
    gap:60px;
    justify-content: center;

}
.container-one h2{
    font-size: 48px;
    color: #F9FAF8;
    margin: 0px;
}
.container-one div{
    height: 210px;
}
.container-one p {
    margin-top: 0px;
    margin-bottom: 10px;
}
.container-one button{
    background-color: #3882F6;
    color: white;
    border: none;
    box-sizing: border-box;
    border-radius: 5px;
    height: 25px;
    width: 80px;
}
.image-placeholder{
    width: 500px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-two{
    
    align-items: center;
    background-color: white;
    
}
.container-blocks{
    
    display: flex;
    justify-content: center;
    gap: 40px;
}
.container-two h2{
    text-align: center;
}
.container-blocks div{
    height:230px;
    width: 150px;
    text-align:center;
}

.container-blocks .square{
    border: 3px solid #3882F6;
    height: 150px;
    width: 150px;
    border-radius: 10px;
    flex:0 0 auto;
}

.container-three{
    background-color:#E5E7EB;
    padding: 30px;
    box-sizing: border-box;
    
    color:#1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 10;
}
.container-three{
    margin: 0px;
    padding: 60px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.container-three p{
    width: 850px;
    flex: 0 1 auto;
    font-style: italic;
    font-weight: 200;
    font-size: 36px;
    margin-bottom: 0px;
    
}
.container-three .autor{
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    display: flex;
    justify-content: flex-end;
    margin-top: 0px;
}

.container-four{
    display: flex;
    justify-content: center;
    align-items: center;
}
.call-container{
    color: white;
    background-color: #3882F6;
    border-radius: 10px;
    padding: 20px 100px;
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.call-container button {
    color: white;
    background-color: #3882F6;
    border: 1px solid white;
    border-radius: 5px;
    box-sizing: border-box;
    width: 80px;
    height: 25px;
}
.footer{
    background-color: #1F2937;
    height: 60px;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}